<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Solicitud de cambio de contraseña</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
      }
      h1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 20px;
      }
      a {
        color: #007bff;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <h1>Solicitud de cambio de contraseña</h1>
    <p>Estimado/a {{.name}},</p>
    <p>
      Recibimos una solicitud de cambio de contraseña para tu cuenta. Si no
      solicitaste este cambio, por favor ignora este correo electrónico.
    </p>
    <p>
      Si deseas cambiar tu contraseña, haz clic en el siguiente
      <a href="{{.link}}">enlace.</a>
    </p>
    <p>Saludos cordiales.</p>
  </body>
</html>
